/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ANCHOR utlity classes */

.inter-600 {
    font-weight: 600;
}

.green-btn {
    background-color: #4CC083;
    color: white;
    border-radius: 1.8rem;
    padding: 0.8rem 2.5rem;
    margin: 1rem 0;
}

.subtitle {
    color: #EC6C5B;
}

.title {
    font-size: 2rem;
}

/* ANCHOR header style */

div.topbar {
    background-color: #EC6C5B;
    color: white;
}

nav#desktop-nav a {
    color: black;
}

nav#desktop-nav a:hover {
    color: #4CC083;
}

nav#desktop-nav li:not(:last-child) > a {
    text-decoration: none;
}

ul.icons {
    list-style: none;
}

ul.icons > li svg{
    width: 1.5rem;
    aspect-ratio: 1;
}

/* ANCHOR main style */

/* NOTE cta-search section style */

#cta-search {
    background-image: url("./images/billboard-bg.png");
    margin-top: 169.79px;
    padding-top: 1rem;
}

#cta-search button {
    background-color: #4CC083;
    color: white;
    padding-inline: 1rem;
    border-radius: 1rem;
}

#cta-search form {
    border-radius: 1rem;
}

#stats {
    background-color: white;
}

#stats h3 {
    color: #EC6C5B;
    font-weight: 800;
}

#stats h4 {
    font-weight: 700;
    font-size: 1.2rem;
}

#stats > div {
    box-shadow: 6px 12px 25px -5px rgba(0,0,0,0.3);
}

/* NOTE who-we-are section style */

#who-we-are img {
    border-radius: 50%;
}

#who-we-are .info i,
.check-li-icon {
    background-color: #EC6C5B;
    color: white;
    align-self: flex-start;
    aspect-ratio: 1;
    border-radius: 50%;
}

/* NOTE categories section style */

#categories .section-body .category {
    height: 6rem;
    border-radius: 0.5rem;
}

#categories .section-body .category svg,
#categories .section-body .category svg use {
    width: 4rem;
    aspect-ratio: 1;
}

.category-green {
    background-color: #E2F3F0;
    color: #4CC083;
}

.category-grey {
    background-color: #e1e1ec;
    color: #6d737e;
}

.category-yellow {
    background-color: #fcebd0;
    color: #f7bd5f;
}

.category-red {
    background-color: #fde5e6;
    color: #EC6C5B;
}

/* NOTE courses section style */

#courses .section-body .card span.label {
    background-color: #EC6C5B;
    color: white;
    font-size: 0.7rem;
    top: 1rem;
    left: 1rem;
}

#courses .section-body .card .card-body svg,
#courses .section-body .card .card-body svg use {
    max-height: 1rem;
    aspect-ratio: 1;
}

#courses .section-body .card .card-body > div {
    font-size: 0.8rem;
}

span .fa-star {
    color: #4CC083;
}

/* NOTE reviews section style */

#reviews {
    background-color: #E2F3F0;
}

div.review img {
    border-radius: 50%;
    width: 5rem;
    aspect-ratio: 1;
}

#slider-buttons > div {
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.slider-button-active {
    background-color: #4CC083;
}

.slider-button-inactive {
    background-color: rgba(109, 115, 126, 0.5);
}

/* NOTE teachers section style */

#teachers .section-body > div {
    gap: 0.5rem;
}

#teachers .section-body > div > div:not(:last-child) {
    max-width: calc(100% / 4 - (1.5rem / 4));
}

#teachers .section-body > div > div:last-child {
    margin: 0 auto;
    font-size: 1.5rem;
}

#teachers .section-body > div > div:not(:last-child) > .teacher {
    padding: 0.5rem;
    border-radius: 12px;
    /* border: 1px solid red; */
    box-shadow: 6px 12px 25px -5px rgba(0,0,0,0.3);
    height: 100%;
    font-size: 1rem;
}

#teachers .section-body > div > div:not(:last-child) > .teacher h5.title {
    font-size: 1rem;
}

#teachers .section-body > div > div:last-child > .teacher {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 18px;
    box-shadow: 6px 12px 25px -5px rgba(0,0,0,0.3);
}



/* ANCHOR mediaqueries */

@media screen and (min-width: 992px) {
    /* ANCHOR 992px header style */

    ul.icons {
        justify-content: end;
    }

    div.topbar { 
        height: 4vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div.navbar {
        padding-top: 2rem;
        height: 6vh;
    }

    /* ANCHOR 992px main style */
    #cta-search {
        margin-top: 10vh;
        position: relative;
    }

    #stats {
        background-color: transparent;
        position: absolute;
        top: 92%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    div.review img {
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
    }

    #teachers .section-body > div > div {
        width: calc(100% / 5 - (2rem / 5));
    }

    #teachers .section-body > div > div:not(:last-child) > .teacher {
        padding: 1rem;
    }

    #teachers >  div.section-body > div > div > div.teacher > div.titles,
    #teachers >  div.section-body > div > div > div.teacher > div.titles > h5.title {
        font-size: 1.5rem;
    }

    #teachers .section-body > div > div:last-child > .teacher {
        margin: 0;
    }
} 