/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.topbar {
    background-color: #EC6C5B;
    color: white;
}

ul.icons {
    list-style: none;
}

ul.icons > li {
    width: 2rem;
    aspect-ratio: 1;
}

#cta-search {
    background-image: url("./images/billboard-bg.png");
    margin-top: 152px;
}

#cta-search button {
    background-color: #4CC083;
    color: white;
    padding-inline: 1rem;
    border-radius: 1rem;
}

#cta-search form {
    border-radius: 1rem;
}